@media(max-width:768px){
    /* HOME */
    .header{
      background-position: right top;
    }
    .heading{
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, 50%);
      text-align: center;
      width: 100%;
    }
    .heading img{
      width: 30vh;
      margin-left: 0;
    }
    .heading h1{
      font-size: 5.5vh;
      margin-top: -1vh;
      letter-spacing: 0.2vh;
    }
    .heading-desc{
      flex-direction: column;
      justify-content:center ;
      align-items: center;
    }
    .heading-desc p{
      width: 80%;
      font-size: 3.5vw;
      margin-top: 0;
      margin-bottom:3vh;
    }
    .heading-desc button{
      width: max-content;
      height: max-content;
      padding: 1vw 5vw;
      font-size: 3.6vw;
      margin-top: 0;
      letter-spacing: 0.1vh;
    }
    .sidebar-menu{
      width: 14vh;
    }
    #show{
      height: 14vh;
    }
    #show p{
      font-size: 2.1vh;
    }
    .menu{
      height:86vh;
      display: none;
    }
    .menu-box ul li{
      margin-bottom:7vh;
      font-size: 2.3vh;
    }
    .menu-box ul li button{
      font-size: 2.3vh;
    }
  
  /* DIGITAL GALLERY */
    .gallery-page{
    width:100%;
    height:100vh;
    overflow-y:hidden;
    background-image: url(../public/image/digital-gallery.jpg) !important;
      background-position: top !important;
}
    .swiper{
        height:93vh !important;
    }
    .logo{
      left:inherit;
      right: 0%;
      top: 0%;
      background-image: url(../public/image/bg-logo.png);
      background-position: center;
      background-size:100%;
      background-repeat: no-repeat;
      width: 18vh;
      padding: 4vh 0;
      text-align: center;
    }
    .logo img{
      width: 13vh;
    }
    .swiper-slide{
      width: 100% !important;
    }
    .info-button{
      top: 40vh;
      right: 3vh;
      width: 9vh;
      height: 9vh;
      border-radius:10vw;
      font-size: 2.3vh;
    }
    .bluecorn{
      width: 85vw;
      height: 103vw;
      margin-top: 20vw;
    }
    .anak-perempuan{
      width: 71vw;
      height: 102vw;
      margin-top: 20vh !important;
    }
    .abstrak{
      width:79vw;
      height: 101vw;
      margin-top: 20vh;
    }
    .batang-pohon{
      width:88vw;
      height: 66vw;
      margin-top: 27vh !important;
    }
    .swiper-slide h1{
      font-size: 8vw;
      margin-top: 1vw;
    }
  /* COPYRIGHT */
    .copyright{
      left: 0.9vh;
      bottom: 2vh;
      font-size: 0.9vh;
    }

    /* POPUP VIEW ART*/
    .show-art{
        width: 100%;
        height: 100vh;
        overflow-y: scroll !important;
        background:white !important;
    }
    .show-art .popup-card-art{
        transform: translateY(0);
    }
    .hide-art{
        height:100vh;
        opacity:0;
        transition: all 0.5s !important;
    }
    .popup-card-art{
        position: relative;
        width: 100%;
        animation-name: popup;
        transform: translateY(100%);
        transition: 0.4s all;
    }
    .popup-art{
        grid-template-columns: 100%;
        padding-bottom: 6vw;
    }
    .image-box-art{
        width: 100%;
        height: 100%;
        position: relative;
        margin: auto;
        margin-right: 6.5vw;
    }
    .image-box-art-ap{
        width: 100% !important;
        height: 100%;
        position: relative;
        margin: auto;
        margin-right: 6.5vw;
    }
    .image-box-art-abstrak{
        width:100% ;
        height: 100%;
        position: relative;
        margin: auto;
        margin-right: 6.5vw;
    }
    .image-box-art-batangpohon{
        width: 100% ;
        height: 100%;
        position: relative;
        margin: auto;
        margin-right: 6.5vw;
    }
    .box-content{
        padding-top: 3.5vw;
        margin-left: 0;
        padding-right: 5vh;
    }   
    .box-content h1{
        text-align: start;
        text-transform: uppercase;
        font-size: 6.6vw;
        letter-spacing: 2px;
    }
    .box-content p{
        margin-top: 0.7vw;
        font-size:4.2vw;
        margin-bottom: 1vw;
        padding-right: 2vw;
        font-weight: 500;
    }
    .box-content span{
        font-size: 3.7vw;
        font-weight: 300;
    }
    .logo-box{
        display: flex;
        align-items: center;
        height: max-content;
        gap: 2vw;
        margin-top: 5vw;
        margin-left: 5vw;
    }
    .logo-box img{
        width:22vw;
    }
    .logo-box p{
        font-size:5vw;
    }
}
